/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*General*/
body {
    font-family: "Merriweather", serif;
}
.container {
    width: 1120px;
    margin: 0 auto;
}
.required {
    color: #D99045;
}
h1 {
     font-family: "Novecentos", sans-serif;
     text-transform: uppercase;
     font-size: 4rem;

     &.entry-title {
        position: absolute;
        color: white;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        top: 45%;
     }
}
h2 {
    font-family: "Novecentos", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 2.5rem;
    color: #2f1339;
}
a {
    font-family: "Novecentos", sans-serif;
    font-size: 1rem;
    text-decoration: none;
    padding: 10px 15px;
    
    &.green {
        color: white;
        background-color: #248A83;
        // padding: 15px 20px;

        &:hover {
            color: white;
            background-color: #1c5b57;
        }
    }
    &.white {
        color: white;
        border: 1px solid white;

        &:hover {
            background-color: #248A83;
            border: 1px solid #248A83;
        }
    }
    &.black {
        color: #404040;
        background-color: white;
        border: 1px solid #404040;
        // width: 145px;
        // padding: 10px 0;

        &:hover {
            color: white;
            background-color: #248A83;
            border: 1px solid #248A83;
        }
    }
}

/*Sidebar*/

.sidebar {
    width: 300px;
    min-height: 100%;
    border-left: 1px solid #E1E1E1;
    padding: 100px 0 0 50px;

    p {
        margin: 15px 0;
    }
    h2 {
        font-weight: 700;
        font-size: 1.35rem;
        text-align: left;
        letter-spacing: 3px;
    }
    a {
        font-family: "Merriweather", serif;
        color: #248A83;

        &:hover {
            color: #2f1339;
        }
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}

/*Nav Bar*/

.header-back {
    width: 100%;
    background: rgba(255, 255, 255, .8);
    border-bottom: 1px solid #E1E1E1;
    height: 50px;
    position: fixed;
    z-index: 4;

    .home &, .page-id-13 & {
        background: none;
        border: none;
        position: absolute;

        .site-header {
            position: absolute;

            .main-navigation {

                a {
                    color: white;

                    &:hover {
                        color: #dbd6ba;
                    }
                }
                input{
                    color: white;
                }
            }
        }
    }
}
.site-header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    font-family: "Novecentos", sans-serif;
    padding: 10px 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;

    .main-navigation {
        display: flex;
        width: auto;
        z-index: 2;
        
        .menu-main-menu-container {
            width: 100%;
            height: 100%;
        }
        .search-form {
            display: flex;
        }
        .search-field {
            display: none;
            background: none;
            border: none;
            outline: none;
            font-family: "Novecentos", sans-serif;
            text-transform: uppercase;
        }
        a {
            font-size: 1rem;
            color: #248A83;
            padding: 0 15px;
            text-transform: uppercase;

            &:hover {
                color: #2f1339;
            }
        }
    }
}

/* Front page */

.post-17 /*front-page*/ .entry-header,
.post-13 /*about*/ .entry-header,
.adventure {
    height: 100vh;
    overflow: hidden;

    img {
        width: auto;
        min-width: 1400px;
        height: auto;
    }
}
.site-content {
    
    .overlay{
        background-color: rgba(0, 0, 0, 0.35);
        width: 100%;
        height: 100vh;
        position: absolute;
    }
    .site-logo {
        position: absolute;
        height: 275px;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50vh;
        transform: translateY(-50%);
    }
}
.shop-stuff {
    text-align: center;
    margin: 50px auto;

    .product-types {
        display: flex;
        justify-content: space-between;

        .shop-type {
            width: 260px;
            height: 300px;
            border: 1px solid #E1E1E1;
            border-top: 5px solid #E1E1E1;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px;

            &:hover {
                border: 1px solid #d99054;
                border-top: 5px solid #d99054;
            }
        }
        p {
            padding-top: 15px;
        }
    }
}
.inhabitent-journal {
    margin: 30px auto;

    .journals {
        display: flex;
        justify-content: space-between;

        img {
            border-bottom: 5px solid #E1E1E1;
            height: 250px;
            width: auto;
        }
        .journal-entry {
            width: 360px;
            border: 1px solid #E1E1E1;
            
            .journal-content {
                padding: 20px 15px;
                line-height: 1.25;
            }
        }
        h3 {
            font-size: 1.3rem;
            font-family: "Novecentos", sans-serif;
            text-transform: uppercase;
            color: #248A83;
        }
    }
}
.latest-adventures {
    margin: 30px auto;

    .adventures-grid {
        display: grid;
        grid-template: 1fr 1fr / 2fr 1fr 1fr; 
        grid-gap: 20px;
        height: 700px;
        padding: 30px 0;
        position: relative;

        .grid-item {
            position: relative;
            max-width: none;
            width: auto;
            overflow: hidden;

            h3 {
                padding: 420px 20px;
                color: white;
                font-size: 1.8rem;
                line-height: 1.2;
                font-weight: normal;
                background: rgba(0, 0, 0, 0.35);
                transform: translateY(-45%);
                }
            a {
                position: absolute;
                top: 51%;
                left: 20px;
            }
            .wrapper {
                position: absolute;
                height: 100%;
            }
            img {
                position:absolute;
                width: auto;
                max-width: none;
                min-height: 100%;
                left: 50%;
                top: 50%;
                transform: translate(-12%, -50%);
                z-index: -1;
            }
            &.item1 {
                grid-area: 1 / 1 / 3 / 2;

                h3 {
                    font-size: 3.2rem;
                }
                a {
                    top: 29%;
                }
            }
            &.item2 {
                grid-area: 1 / 2 / 2 / 4;

                h3 {
                    font-size: 2.6rem;
                }
            }
        }
        .more-adventures {
            font-size: 1.2rem;
            width: 218px;
        }
    }
}

.sidebar-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

/*Find Us*/

    .page {
        position: relative;
        width: 790px;
        padding: 0px 30px 0 0;

        h1 {
            font-size: 2rem;
            color: #2f1339;
        }
        .entry-header {
            position: absolute;
            top: -410px;
            width: 200px;

            h1 {
                text-align: left;
                font-size: 2.4rem;
                color: #404040;
            }
        }

        form {

            label {
                font-family: "Novecentos", sans-serif;
                font-size: 1.1rem;
            }
            input, textarea {
                background: #F4F4F4;
                border-radius: 0;
                border: 1px solid #E1E1E1;
                padding: 6px 10px;
                margin-top: 10px;
            }
            .wpcf7-submit {
                font-family: "Novecentos", sans-serif;
                text-transform: uppercase;
                font-size: .9rem;
                color: white;
                background: #248A83;
                padding: 15px 20px;
                border: none;
                border-radius: 0;
                box-shadow: none;
                text-shadow: none;
        
                &:hover {
                    background-color: #1c5b57;
                }
            }
        }
    }
    .map-insert {
        margin-top: 150px;
    }

/*Blog Post Home*/

    .post {
        position: relative;
        width: 790px;
        padding: 100px 30px 0 0;
        overflow: hidden;

        img {
            width: auto;
            min-width: 100%;
            height: 520px;
        }
        .entry-title {
            position: absolute;
            background: #248A83;
            top: 110px;
            max-width: 73%;
            text-align: left;
            padding: 15px 25px;
            line-height: 1.1;

            a, .entry-title {
                color: white;
                font-size: 2.2rem;
                font-weight: 700;
                padding: 0;

                &:hover {
                    color: #dbd6ba;
                }
            }
        }
        .entry-meta {
            font-family: "Novecentos", sans-serif;
            text-transform: uppercase;
            padding: 0 20px;
            position: absolute;
            right: 30px;
            top: 542px;
            background: #248A83;
            color: white;
        }
    }
}
.read-more:after {
    content: "\2192";
}

/*Products Archive*/

.page-header {

    .shop-title {
        width: 100%;
        margin: 0px auto;
        padding-top: 100px;
        text-align: center;
        font-size: 2.6rem;
    }
    p {
        text-align: center;
        margin-bottom: 50px;
    }
}
.menu-shop-menu-container {
    display: flex;
    justify-content: center;

    .menu {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0 0 50px 0;

        a {
        color: #248A83;
        text-transform: uppercase;
        font-size: 1.2rem;
        padding: 0px 25px;

            &:hover {
                color: #2f1339;
            }
        }
    }
}
.products-archive {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-top: 50px;
    border-top: 1px dashed #A1A1A1;

    a {
        padding: 0;
    }
    .type-product {
        border: 1px solid #E1E1E1;
        overflow: hidden;
        position: relative;
        width: 262px;
        height: 300px;

        .entry-header {

            img {
                position: absolute;
                height: 81%;
                width: auto;
                max-width: none;
                border-bottom: 5px solid #E1E1E1;
                left: 50%;
                top: 0;
                transform: translateX( -50%);
            }   
            .entry-content {
                
                font-family: "Merriweather", serif;
                color: #2f1339;
                width: 100%;
                display: flex;
                position: absolute;
                bottom: -7px;
                padding: 0px 10px;

                .dots {
                    margin: 0px 5px;
                    height: 36px;
                    flex-grow: 1;
                    border-bottom: 2px dotted #404040;
                }
            }
        }

    }
}

/*About Page*/

.post-13 {

    .entry-content {
        margin: 50px auto;
        max-width: 720px;

        h2 {
            font-weight: bold;
        }
    }
}

/*Journal Singles*/

.post {

    .entry-title {
        font-size: 2.2rem;
        font-weight: 700;
        color: white;
    }
    .comments-link {

        a {
            color: white;
            padding: 0;

            &:hover {
                color: #dbd6ba;
            }
        }
    }
    .entry-footer {
        font-family: "Novecentos", sans-serif;
        text-transform: uppercase;
        margin: 20px 0;

        .cat-links, .tag-links {
            padding-right: 20px;
        }
        a {
            color: #248A83;
            padding: 0;

            &:hover {
                color: #2f1339;
            }
        }
    }
}

/*Products Singles*/

.single-product {

    .product{
    display: flex;
    padding-top: 100px;

        .entry-header {
            width: 50%;
            padding: 30px;
        }
        .entry-content {
            width: 50%;
            padding: 20px;
            margin: 0;

            h2 {
                text-align: left;
                font-weight: 700;
                color: #D99045;
                margin: 0;
            }
            .price {
                font-family: "Novecentos", serif;
                font-weight: 300;
                font-size: 2rem;
                margin: 0;
            }
        }
    }
}

/*Comments*/

.comments-title {
    text-align: left;
    font-weight: 700;
}
.comment-list {
    margin: 0;
    padding: 0;
    border-bottom: 1px solid #E1E1E1;

    .children li{
        border-top: 1px solid #E1E1E1;
        padding: 20px 0;
    }
    .comment-body {
        display: flex;
        padding: 20px 0;

        .comment-content {
            width: 100%;
            // border-bottom: 1px solid #E1E1E1;
        }
        img {
            border-radius: 50%;
            margin-right: 30px;
        }
        cite {
            font-weight: bold;
            font-style: normal;
        }
        time {
            color: #A1A1A1;
        }
        a {
            font-family: "Merriweather", serif;
            color: #248A83;
            padding: 0;
        }
    }
}
.comment-reply-title {
    font-family: "Novecentos", sans-serif;
    font-size: 1.8rem;
    text-transform: uppercase;
}
.comment-form {
    font-family: "Novecentos", sans-serif;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    width: 790px;
    margin-bottom: 75px;

    .comment-notes {
        font-family: "Merriweather", serif;
        text-transform: none;
    }
    input, textarea {
        background: #F4F4F4;
        border-radius: 0;
        border: 1px solid #E1E1E1;
        padding: 6px 10px;
        margin-top: 10px;
    }
    p {
        display: flex;
        flex-direction: column;

        &.logged-in-as {
            display: flex;
            flex-direction: row;
        
            a {
                color: #248A83;
                font-family: "Merriweather", serif;
                text-transform: none;
                padding: 0;
                margin: 0 2px 0 10px;
        
                &:hover {
                    color: #2f1339;
                }
            }
        }
    }
    .comment-form-comment,
    .comment-form-url,
    .comment-form-cookies-consent {
        width: 100%;
    }
    .comment-form-author{
        width: 50%;
        padding-right: 15px;
    }
    .comment-form-email {
        width: 50%;
    }
    .submit {
    font-family: "Novecentos", sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    color: white;
    background: #248A83;
    padding: 15px 20px;
    border: none;
    border-radius: 0;
    box-shadow: none;
    text-shadow: none;
    }
}

/*404 Page*/

.main-404 {
    display: flex;
    justify-content: space-between;

    input {
        font-family: "Merriweather", serif;
        background: #F4F4F4;
        border-radius: 0;
        border: 1px solid #E1E1E1;
        padding: 6px 10px;
        margin-top: 10px;
    }
    .error-404 {
        width: 790px;
        margin-top: 50px;
    }
    .page-title {
        font-size: 2.6rem;
    }
    h2 {
        text-align: left;
        font-weight: 700;
        font-size: 1.6rem;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            font-family: "Merriweather", serif;
            padding: 0;
            color: #248A83;

            &:hover {
                color: #2f1339;
            }
        }
    }
    #archives-dropdown--1 {
        font-family: "Merriweather", serif;
    }
}

/*Search Results*/

.results-main {
    display: flex;
    margin: 0 auto;
    
    .search-submit {
        display: none;
    }
    .page-title {
        font-size: 2.6rem;
        border-bottom: 1px solid #E1E1E1;
        width: 95%;
    }
    .entry-title {
        text-align: left;

        a {
            color: #248A83;
            font-size: 2rem;
            font-weight: 700;
            padding: 0;

            &:hover {
                color: #2f1339;
            }
        }
    }
    .entry-meta {
        font-family: "Novecentos", sans-serif;
        text-transform: uppercase;
    }
    .results {
        width: 790px;
        padding-right: 50px;
        margin-bottom: 100px;
    }
}
.search-form-none {
    
    .search-field-none {
        font-family: "Merriweather", serif;
        background: #F4F4F4;
        border-radius: 0;
        border: 1px solid #E1E1E1;
        padding: 6px 10px;
        margin-top: 10px;
    }
}